<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <script type="text/javascript" src="/javascripts/jquery.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!-- <script type="text/javascript" src="/javascripts/jquery-lazy.js"></script> -->
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery.lazy/1.7.6/jquery.lazy.min.js"></script>
  </head>
  <body>


    <h1><%= title %></h1>
    <a class="pull-right" href="/admin">Admin Settings</a>
    <p>Welcome to <%= title %> Page</p>


    <div id="album-collection" class="container-fluid">
        <ul>
            <% if(isAdmin) { %>
            <li>
                <a href="#" id="newAlbumMessage">Create a New Album</a>
                <div id="newAlbumForm">
                    <input type="text" placeholder="New Album Name" required>
                    <button id="newAlbumFormAddButton" type="button" name="button">Add</button>
                    <button id="newAlbumFormCancelButton" type="button" name="button">Cancel</button>
                </div>
            </li>
            <% } %>
            <% for(var i=0; i<albumsData.length; i++) {%>
                <li>
                    <a href="albums/<%=albumsData[i].ID%>"><p><%= albumsData[i].albumName %></p></a>
                </li>
            <% } %>

        </ul>

    </div>
  </body>
  <script type="text/javascript" src="/javascripts/script.js"></script>


</html>
