<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <script type="text/javascript" src="/javascripts/jquery.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!-- <script type="text/javascript" src="/javascripts/jquery-lazy.js"></script> -->
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery.lazy/1.7.6/jquery.lazy.min.js"></script>
  </head>
  <body>


    <h1><%= title %></h1>
    <!-- <p class="pull-left"><%= subtitle %></p> -->
    <!-- <a class="pull-right" href="/">All Albums</a> -->

    <!-- Hansal's Change start -->
    <div class="columnHeader" id="non-scrolling-header">

      <div class = "left-align"><%= subtitle %></div>
      <a class = "right-align" href="/">All Albums</a>
      <!-- Upload needs to be a href once the feature works -->
      <div class = "center-align">Upload</div>
    </div>

    <script type="text/javascript">
      window.onscroll = function() {stickyHeaderFunction()};

      var header = document.getElementById("non-scrolling-header");
      var sticky = header.offsetTop;

      function stickyHeaderFunction() {
        if (window.pageYOffset >= sticky) {
          header.classList.add("sticky");
        } else {
          header.classList.remove("sticky");
        }
      }
    </script>
    <!-- Hansal's Change start -->

    <!-- Trigger the modal with a button -->
    <!-- <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Open Modal</button> -->
    <%- include modal %>



    <div id="gallery-collection" class="container-fluid">
        <% for(var i=0; i<imagesData.length; i++) {%>
            <img class="img-thumbnail lazy" data-toggle="modal" data-target="#myModal" data-id=<%=imagesData[i].ID%> data-src=<%= imagesData[i].imageURL%> />
        <% } %>
    </div>

  </body>

  <script type="text/javascript">
  $('.lazy').Lazy({
     // your configuration goes here
     scrollDirection: 'vertical',
     effect: 'fadeIn',
     visibleOnly: true,
     onError: function(element) {
         console.log('error loading ' + element.data('src'));
     }
    });

    $('.img-thumbnail').click(function(item){
	       var imgSrc = item.currentTarget.src;
           var imgId = parseInt(item.currentTarget.dataset.id);
           $('.modal-body img').attr("src", imgSrc);

           var pushState = window.location.origin + window.location.pathname +'?imageID='+imgId;
           window.history.pushState('', '', pushState);
       });

    var getQueryString = function ( field, url ) {
        var href = url ? url : window.location.href;
        var reg = new RegExp( '[?&]' + field + '=([^&#]*)', 'i' );
        var string = reg.exec(href);
        return string ? string[1] : null;
    };

    $(document).ready(function(){
        var imageId = getQueryString('imageID');
        if(imageId){
            $('#myModal').modal('show');
        }
    });
  </script>
</html>
