<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />

    <script type="text/javascript" src="/javascripts/jquery.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!-- <script type="text/javascript" src="/javascripts/jquery-lazy.js"></script> -->
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery.lazy/1.7.6/jquery.lazy.min.js"></script>
  </head>
  <body>


    <h1 class="title"><%= title %></h1>
    <!-- <p class="pull-left"><%= subtitle %></p> -->
    <!-- <a class="pull-right" href="/">All Albums</a> -->

    <!-- Hansal's Change start -->
    <div class="columnHeader row">

      <div class="col-xs-6 col-sm-4"><%= subtitle %></div>
        <a id="uploadClick" href="#">
          <div class="col-sm-4 text-center hidden-xs">Upload <span> to <%= title %> </span> </div>
          <div class="fab visible-xs">
              <div class="glyphicon glyphicon-camera"></div>
          </div>
        </a>
      <a class="col-xs-6 col-sm-4 text-right" href="/">All Albums</a>
    </div>


    <!-- Trigger the modal with a button -->
    <!-- <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Open Modal</button> -->
    <%- include modal %>



    <div id="gallery-collection" class="container-fluid masonry">
        <% for(var i=0; i<imagesData.length; i++) {%>
            <img class="item lazy" data-toggle="modal" data-target="#myModal" data-id=<%=imagesData[i].ID%> data-src=<%= imagesData[i].imageURL%> />
        <% } %>
    </div>

  </body>

  <script type="text/javascript" src="/javascripts/script.js"></script>
</html>
